/hypr/scheme/current.conf
/hypr/scheme/current.lua

/spicetify/config-xpui.ini
/spicetify/Themes/caelestia/color.ini

/btop/btop.log
/btop/themes/

/fish/fish_variables
/fish/conf.d/
/fish/fish-kubectl-completions

/hypr/hyprland/monitors.lua
/hypr/hyprland/nvidia.lua

.SRCINFO
